@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



:root {
  --Comforta: "Comfortaa";
  --Nunito: "Nunito";
  --Sacramento: "Sacramento";
  --Poppins: "Poppins";
  --Dark-Orange: darkorange;
  --White: #fff;
  --Dark-Blue: #263361;
  --Blue-Violet: blueviolet;
}

.classPage .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background: var(--Dark-Orange);
    margin-top: 10vh;
    color: var(--White);
    letter-spacing: 2px;
    line-height: 250%;
}


.classPage .header .page_title{
    font-size: 35pt;
    margin-bottom: 20px;
}

.classPage .header .sub-nav {
    font-size: 10px;
}

.classPage .header .link{
    text-decoration: underline;
    color: var(--White);
    transition: .3s ease;
   
}
.classPage .header .link:hover {
    color: var(--Blue-Violet);
}


.classPage .class_container {
    background: #dfb1c393;
  }
  
  .classPage .class_container .class {
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.021);
    transition: all .4s ;
    margin: 20px;
  } 
  
  .classPage .class_container .class .card-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .classPage .class_container .class .card-img img{
    width: 100%;
    border-radius: 10px;
    z-index: 1;
  }
  .classPage .class_container .class:hover .card-img img{
   transform: scale(1.01);
   transition: all .4s ;
  }
  
  .classPage .class_container .class .card-body {
  background: #fff;
  z-index: 5;
  }
  
  
  
  
  .classPage .class_container .class .card-body {
    padding-top: 20px;
    position: relative;
  }
  
  
  .classPage .class_container .class .card-body .card-body-upper {
    padding: 10px;
  }
  
  
  .classPage .class_container .class .card-body .card-body-upper .price{
    background:  rgba(238, 177, 8, 0.966);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: -35px;
    right: 30px;
  }
  .classPage .class_container .class:hover .card-body .card-body-upper .price{
    background:  rgba(8, 203, 238, 0.966);
  }
  
  .classPage .class_container .class .card-body .card-body-upper .card-heading {
    font-family: var(--Comforta);
    font-size: 18pt;
    font-family: 700;
    color: var(--Dark-Blue);
    margin-bottom: 10px;
  }
  .classPage .class_container .class .card-body .card-body-upper .card-heading:hover {
   color: var(--Dark-Orange);
   transition: all .4s;
  }
  .classPage .class_container .class .card-body .card-body-upper p{
    line-height: 150%;
    font-size: 16px;
    
  }
  .classPage .class_container .class .card-body .hr-divider {
    height: 3px;
    width: 90%;
    background: rgba(138, 136, 136, 0.404);
    border-radius: 20px;
    margin: 3px auto;
  }
  .classPage .class_container .class .card-body .card-body-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  }
  .classPage .class_container .class .card-body .card-body-lower .box{
    display: flex;
    flex-direction: column;
  }
  .classPage .class_container .class .card-body .card-body-lower .box .required{
    margin-bottom: 5px;
    color: #a798b4;
  }
  .classPage .class_container .class .card-body .card-body-lower .box .requirements{
    font-family: var(--Nunito);
    font-family: 800;
    font-size: 16px;
    color: var(--Dark-Blue);
  }
  
  .classPage .class_container .class .card-body .card-body-lower .divider {
    width: 2px;
    height: 45px;
    background: rgba(138, 136, 136, 0.404);
    border-radius: 20px;
  }
  
  .classPage .class_container .class .card-body .button{
  width: 100%;
  padding: 10px 30px;
  background: var(--Dark-Orange);
  color: #fff;
  height: 10vh;
  text-align: center;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10vh;
  left: 0;
  }
  
  .classPage .class_container .class:hover .card-body .button{ 
  bottom: 0;
  transition: all .4s;
  }
  
  
  .classPage .class_container .class .cta {
  color: #fff;
  }
  
  .classPage .class_container .heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .classPage .class_container .heading .curve {
    font-family: var(--Sacramento);
    font-size: 25pt;
    font-weight: 300;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: var(--Dark-Orange);
  }
  
  .classPage .class_container .heading .nunito {
    font-family: var(--Comforta);
    font-size: 30pt;
    font-family: 700;
    color: var(--Dark-Blue);
    margin-bottom: 20px;
  }

  .classPage .class_container .wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
  }
  