@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);






* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}




:root {
  --Comforta: "Comfortaa";
  --Nunito: "Nunito";
  --Sacramento: "Sacramento";
  --Poppins: "Poppins";
  --Dark-Orange: #ff8c00;
  --White: #fff;
  --Dark-Blue: #263361;
  --Blue-Violet: blueviolet;
  --Color-1: #8ADFE3;
  --Color-2: #55C5D1;
  --Color-3: #4699C2;
  --Color-4: #FFD57E;
  --Color-5: #F79C65;
  --Color-6: #FC8476;
  --Color-7: #E25B45;
  --Color-8: #FF8357;
  --Color-9: #E7E7E7;
  --Color-10: #F5CEC7;
  --Color-11: #5A6794;
  --Color-12: #565A97;
  --Color-13: #ADC865;
  --Color-14: #b6b6b6;
}

body {
  font-family: var(--Comforta);
}

header {
  font-family: var(--Comforta);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header.sticky {
  background: rgb(250, 249, 249);
  padding: 0px 100px;
  z-index: 999;
  box-shadow: 0 5px 20px rgba(17, 17, 17, 0.282);
}

header .logo {
  color: #ae77e2;
  font-size: 20pt;
  font-weight: 500;
  font-family: var(--Comforta);
}

header .menu .menu-item {
  display: inline-block;
  margin-left: 20px;
}

header .menu .menu-item .menu-link {
  font-size: 11pt;
  letter-spacing: 1px;
  color: #000000;
  -webkit-transition: .3s;
  transition: .3s;

  font-weight: 600;
}

header .menu .mobile .mobile-link {
  background: var(--Dark-Orange);
  padding: 10px 25px;
  border-radius: 8px;
  color: #fff;
}

header .menu .mobile .mobile-link:hover {
  background: transparent;
transition: all .3s;
padding: 7px 22px;
color: var(--Dark-Orange);
border: 2px dashed var(--Dark-Orange);
}

header .menu .menu-item .menu-link::after {
  content: '';
  width: 0%;
  height: 1px;
  background: var(--Dark-Orange);
  display: block;
  margin: auto;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .menu .menu-item .menu-link:hover::after {
  width: 100%;
}

header .menu .menu-item .menu-link:hover {
  color: var(--Dark-Orange);
}

.toggle {
  display: none;
}

@media (max-width: 1024px) {
  header {
    padding: 0 5%;
    z-index: 999;
    height: 8vh;
  }

  header.sticky {
    background: rgb(247, 245, 245);
    padding: 0 5%;
    z-index: 999;
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.282);
  }
  
  .toggle {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
  }
  .toggle .bar {
    width: 100%;
    height: 3px;
    background-color: var(--Color-3);
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .toggle #bar-3 {
            transform: translateY(25px);
  }
  .toggle #bar-2 {
            transform: translateY(13px);
  }
  .toggle.active #bar-1 {
            transform: translateY(10px) rotate(225deg);
  }
  .toggle.active #bar-2 {
    opacity: 0;
  }
  .toggle.active #bar-3 {
            transform: translateY(10px) rotate(-225deg);
  }
  .menu {
    position: absolute;
    top: 7.7vh;
    width: 100%;
    text-align: center;
    top: -100vh;
    left: -100vw;

    background: rgb(247, 245, 245);
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 999;
  }
  header .menu .menu-item {
    display: block;
    margin: 30px auto;
  }
  header .menu.active {
    left: 0;
    top: 7.9vh;
    z-index: 897;
  }

  main {
    margin-top: 2.5vh;
  }
}

 .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background: var(--Dark-Orange);
    margin-top: 10vh;
    color: var(--White);
    letter-spacing: 2px;
    line-height: 250%;
}


 .header .page_title{
    font-size: 35pt;
    margin-bottom: 20px;
}

 .header .sub-nav {
    font-size: 10px;
}

 .header .link{
    text-decoration: underline;
    color: var(--White);
    transition: .3s ease;
   
}
 .header .link:hover {
    color: var(--Blue-Violet);
}


 .Overview-Container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .class_overview, .wrapper .class_progress {
  width: 45%;
}

.wrapper .class_overview .heading {
  font-size: 30pt;
  margin-bottom: 20px;
  color: var(--Color-12);
}
.wrapper .class_overview .text {
  line-height: 140%;
  color: var(--Color-14);
}

.wrapper .class_progress  .progress {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.wrapper .class_progress  .progress label{
  font-size: 17pt;
  margin-bottom: 20px;
  color: var(--Color-12);
}
.wrapper .class_progress  .progress .progress_bar{
  width: 100%;
  background: var(--Color-9);
  height: 5px;
  border-radius: 50px;
  overflow: hidden;
}

.wrapper .class_progress  .progress .progress_bar .progress_value{
  width: 80%;
  height: 100%;
  background: var(--Color-7);
  display: block;
  border-radius: 50px;
}

.wrapper .class_progress  .physical_progress.progress .progress_bar .progress_value{
  width: 40%;
  background: var(--Color-3);
}

.wrapper .class_progress  .social_progress.progress .progress_bar .progress_value{
  width: 60%;
  background: var(--Color-4);
}

.gallery_box .wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
}
.gallery_box .wrapper .img_sm_grp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.gallery_box .wrapper .img_lg {
  width: 600px;
}
.gallery_box .wrapper .image_lg img{
  width: 100%;
  border-radius: 10px;
  transition: .5s;
}
.gallery_box .wrapper .image_lg img:hover {
 transform: translateY(-10px);
}
.gallery_box .wrapper .img_sm_grp img{
  width: 290px;
  border-radius: 10px;
  transition: .5s;
}

.gallery_box .wrapper .img_sm_grp img:hover{
  transform: translateY(-10px);
}


.learning_areas .heading {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.learning_areas .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.learning_areas .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Color-12);
  margin-bottom: 20px;
}



.learning_areas .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}
.learning_areas .cards .card{
  text-align: center;
  width: 300px;
display: flex;
justify-content: center;
flex-direction: column;
  padding: 10px auto;
  margin: 30px;
}

.learning_areas .cards .card .icon-bx {
  
width: 70px;
height: 70px;
background: #ecc6c6;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  transition: .5s linear;

}

.learning_areas .cards .card .icon-bx:hover {
  border-radius: 50%;
  background: var(--White);
  border: 2px dashed rgb(212, 111, 128);
}

.learning_areas .cards .card .icon {
  font-size: 25pt;
  color: rgb(212, 111, 128);

}



.learning_areas .cards .card .blue {
  font-family: var(--Comforta);
  font-size: 13pt;
  font-weight: 800;
  line-height: 130%;
  color: var(--Color-12);
  margin-bottom: 10px;
  transition: .5s;
}
.learning_areas .cards .card:hover .blue {
  color: var(--Color-8);
}

.learning_areas .cards .card .text {
  line-height: 140%;
  color: var(--Color-14);
  font-size: 13px;
}

.class_detail {
  width: 350px;
  height: auto;
  border: 5px solid var(--Color-8);
  border-radius: 10px;
  margin: auto;
  padding: 20px 10px;
}

.class_detail .head {
  font-size: 16pt;
  margin-bottom: 20px;
  color: var(--Color-12);
}

.class_detail .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: var(--Color-11);
  letter-spacing: 2px;
}

.class_detail .row span {
  color: var(--Color-7);
}

.class_detail .btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: none;
  background: var(--Color-12);
  border-radius: 4px;
  color: var(--White);
}

.class_detail hr {
  border: 1px dashed var(--Color-14);
}

.contact_modal {
  position: fixed;
  top: 12%;
  left: 30%;
  right: 30%;
  bottom: 10%;
  background: #fff;
  z-index: 1000;
  border-radius: 8px;
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.741);
  display: none;
  transition: 1s ease;
}

.modal_overlay.active {
  display: block;
}

.contact_modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20pt;
  color: var(--Color-7);
}

.contact_modal .wrapper {
  margin-top: 3vh;
}

.contact_modal .wrapper .head {
  text-align: center;
  color: var(--Color-12);
  margin-bottom: 20px;
  font-size: 20pt;
}

.contact_modal .form_control {
  width: 100%;
margin-bottom: 20px;
}

.contact_modal .form_control input, .contact_modal .form_control textarea {
  min-width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  background: var(--Color-14);
}

.contact_modal .form_control textarea  {
  max-height: 20vh;
}

.contact_modal .submit {
  width: 100%;
  display: inline-block;
  padding: 12px;
  color: var(--White);
  background: var(--Color-12);
  border-radius: 5px;
  font-size: 16pt;
  outline: none;
  border: none;
}

@media (max-width: 1200px) {
  .gallery_box .wrapper .img_sm_grp img{
    width: 250px;
    border-radius: 10px;
    transition: .5s;
  }

  .learning_areas .cards .card{

    margin: 20px;
  }
}

@media (max-width: 930px) {
  .gallery_box .wrapper .img_sm_grp img{
    width: 200px;
    border-radius: 10px;
    transition: .5s;
  }
}
@media (max-width: 890px) {
  .gallery_box .wrapper .img_sm_grp img{
    width: 200px;
    border-radius: 10px;
    transition: .5s;
  }

  .Overview-Container .wrapper {
  flex-direction: column;
  }

  .wrapper .class_overview, .wrapper .class_detail {
    width: 90%;
    margin: 5vh 0;
  }

  .gallery_box .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .gallery_box .wrapper .img_lg {
    width: 80%;
  }

  .gallery_box .wrapper .img_sm_grp img{
    width: 100%;
    border-radius: 10px;
    transition: .5s;
  }


  .learning_areas .heading {
    width: 90%;

  }
  
  .learning_areas .heading .curve {
    font-family: var(--Sacramento);
    font-size: 20pt;
    font-weight: 300;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: var(--Dark-Orange);
  }
  
  .learning_areas .heading .nunito {
    font-family: var(--Comforta);
    font-size: 20pt;
    font-family: 700;
    color: var(--Color-12);
    margin-bottom: 20px;
  }
  
  .contact_modal {
    position: fixed;
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 15%;
    background: #fff;
    z-index: 1000;
    border-radius: 8px;
  }

  .contact_modal .wrapper .head {
    text-align: center;
    color: var(--Color-12);
    margin-bottom: 20px;
    font-size: 17pt;
  }

  .contact_modal .form_control input, .contact_modal .form_control textarea {
    min-width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 12pt;
    border-radius: 6px;
    background: var(--Color-14);
  }

  .contact_modal .form_control textarea  {
    max-height: 15vh;
  }


}