@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);





* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



:root {
  --Comforta: "Comfortaa";
  --Nunito: "Nunito";
  --Sacramento: "Sacramento";
  --Poppins: "Poppins";
  --Dark-Orange: rgb(252, 144, 2);
  --White: #fff;
  --Dark-Blue: #263361;;
}

body {
  font-family: var(--Comforta);
}

header {
  font-family: var(--Comforta);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header.sticky {
  background: rgb(250, 249, 249);
  padding: 0px 100px;
  z-index: 999;
          box-shadow: 0 5px 20px rgba(56, 56, 56, 0.062);
}

header .logo {
  color: #ae77e2;
  font-size: 20pt;
  font-weight: 500;
  font-family: var(--Comforta);
}

header .menu .menu-item {
  display: inline-block;
  margin-left: 20px;
}

header .menu .menu-item .menu-link {
  font-size: 11pt;
  letter-spacing: 1px;
  color: #000000;
  -webkit-transition: .3s;
  transition: .3s;

  font-weight: 600;
}

header .menu .mobile .mobile-link {
  background: var(--Dark-Orange);
  padding: 10px 25px;
  border-radius: 8px;
  color: #fff;
}

header .menu .mobile .mobile-link:hover {
  background: transparent;
transition: all .3s;
padding: 7px 22px;
color: var(--Dark-Orange);
border: 2px dashed var(--Dark-Orange);
}

header .menu .menu-item .menu-link::after {
  content: '';
  width: 0%;
  height: 1px;
  background: var(--Dark-Orange);
  display: block;
  margin: auto;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .menu .menu-item .menu-link:hover::after {
  width: 100%;
}

header .menu .menu-item .menu-link:hover {
  color: var(--Dark-Orange);
}

.toggle {
  display: none;
}

@media (max-width: 1024px) {
  header {
    padding: 0 5%;
    z-index: 999;
  }

  header.sticky {
    background: rgb(247, 245, 245);
    padding: 0 5%;
    z-index: 999;
    box-shadow: 0 5px 20px rgb(255, 255, 255);
  }
  
  .toggle {
    display: block;
    width: 40px;
    height: 35px;
    position: relative;
  }
  .toggle .bar {
    width: 100%;
    height: 5px;
    background-color: #000;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .toggle #bar-3 {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  .toggle #bar-2 {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .toggle.active #bar-1 {
    -webkit-transform: translateY(15px) rotate(225deg);
            transform: translateY(15px) rotate(225deg);
  }
  .toggle.active #bar-2 {
    opacity: 0;
  }
  .toggle.active #bar-3 {
    -webkit-transform: translateY(15px) rotate(-225deg);
            transform: translateY(15px) rotate(-225deg);
  }
  .menu {
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
    left: -100vw;
    background: rgb(247, 245, 245);
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 999;
  }
  header .menu .menu-item {
    display: block;
    margin: 30px auto;
  }
  header .menu.active {
    left: 0;
    z-index: 999;
  }
}

main {
  z-index: 2;
}

.hero {
  width: 100%;
  height: auto;  
  margin-top: 5vh;
  padding: 5% 5%;
  z-index: 1;
}





.hero .showcase {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  background: var(--Dark-Blue);
  overflow: hidden;
   display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero .showcase .particles {
  position: absolute;
}

.hero .showcase .particles.octagon {
  top: 20%;
  left: 45%;
}
.hero .showcase .particles.addition {
  top: 15%;
  left: 20%;
  
}
.hero .showcase .particles.addition2 {
  left: 60%;
  bottom: 10%;
}

.hero .showcase .particles.triangle {

  bottom: 40%;
  right: 30%; 
}
.hero .showcase .particles.octagon2 {
  left: 20%;
  bottom: 10%;
}
.hero .showcase .particles.circle {
  top: 40%;
  right: 8%;
  z-index: 2;
}

 .hero .showcase .text {
  width: 50%;
}

.hero .showcase .text .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}



.hero .showcase .text .nunito {
  font-family: var(--Comforta);
  font-size: 50pt;
  color: var(--White);
  margin-bottom: 40px;
}

.hero .showcase .text .cta {
  background: var(--Dark-Orange);
  padding: 15px 40px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: var(--Comforta);
  color: var(--White);
  font-weight: 700;
  letter-spacing: 1px;
}

.hero .showcase .img { 
  z-index: 3;
}

.hero .showcase .img img {
    width: 300px;
    margin-top: 10vh;
    z-index: 4;
}




.sec-2 .container {
  padding: 5% 5%;
}

.sec-2 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sec-2 .wrapper .particles {
  position: absolute;
}

.sec-2 .wrapper .particles.octagon2 {
  left: 20%;
  bottom: 10%;
}
.sec-2 .wrapper .particles.circle {
  top: 55%;
  opacity: 0.7;
  left: 25%;
  z-index: 2;
}
.sec-2 .wrapper .particles.eclipse-bg {
  top: -30%;
  opacity: 0.3;
  right: -15%;
  z-index: 2;
  width: 330px;
  
}

.sec-2 .wrapper .particles.eclipse-bg img {
  width: 100%;
}

.sec-2 {
  overflow: hidden;
}

.sec-2 .wrapper .img img {
  width: 600px;
}
.sec-2 .wrapper .text {
  width: 43%;
}

.sec-2 .wrapper .text .heading {
  width:400px;
}

.sec-2 .wrapper .text  .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-2 .wrapper .text  .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-2 .wrapper .text .greeting {
  font-size: 13pt;
  font-weight: 200;
  margin-bottom: 10px;
} 
.sec-2 .wrapper .text  p {
  line-height: 150%;
}

.sec-3 {
  padding: 5% 5%;

}

.sec-3 .heading {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.sec-3 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-3 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}


.sec-3 .heading p {
  line-height: 150%;
}


.sec-3 .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.sec-3 .cards .card{
  text-align: center;
  width: 120px;
display: flex;
justify-content: center;
flex-direction: column;
  padding: 10px auto;

}

.sec-3 .cards .card .icon-bx {
  
width: 80px;
height: 80px;
background: #ecc6c6;
display: flex;
align-items: center;
justify-content: center;
border-radius: 8px;
  margin: auto;
  margin-bottom: 5px;
  transition: .5s;

}

.sec-3 .cards .card .icon-bx:hover {
  border-radius: 50%;
  background: var(--White);
  border: 2px dashed rgb(212, 111, 128);
}

.sec-3 .cards .card .icon {
  font-size: 25pt;
  color: rgb(212, 111, 128);

}


.sec-3 .cards .card .orange {
  font-family: var(--Nunito);
  font-size: 20pt;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: var(--Dark-Orange);
}
.sec-3 .cards .card .blue {
  font-family: var(--Comforta);
  font-size: 13pt;
  font-weight: 800;
  line-height: 130%;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-4 {
  padding: 5% 5%;
  background: rgba(243, 186, 233, 0.205);
  position: relative; 
  overflow: hidden;
}

.sec-4 .particles {
  position: absolute;
}

.sec-4  .particles.eclipse-bg {
top: -5%;
left: -10%;
opacity: .2;
width: 500px;
z-index: -1;
}



.sec-4 .particles.eclipse-bg img {
  width: 100%;
  z-index: 3;
}

.sec-4 .heading {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.sec-4 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-4 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-4 .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  z-index: 5;
}

.sec-4 .rd-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 30px auto;
}

.sec-4 .img , .sec-4 .text {
  line-height: 150%;
  width: 50%;
}

.sec-4 .img img {
  width: 600px;
  border-radius: 10px;
}

.sec-4 .text {
  padding: 0 80px;
}

.sec-4 .text .head {
  font-family: var(--Comforta);
  font-size: 25pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.container {
  padding: 5% 5%;
}

.sec-5 {
  text-align: center;
}

.sec-5 .heading {
  margin-bottom: 10vh;
}

.sec-5 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-5 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}


.sec-5 .container .slider {
  width: 70%;
  margin: auto;
  height: 50vh;
  text-align: center;
  position: relative;
}

.sec-5 .container .slider .q-bg {
  width: 150px;
  position: absolute;
  margin-left: -6vw;
}


.sec-5 .slider .owl-carousel {
  width: 100%;
  height: 100%;

}
.sec-5 .slider .owl-carousel   .slide{
  width: 100%;
  height: 100%;
  text-align: center;
}
.sec-5 .slider .owl-carousel   .slide .content .testimony {
  line-height: 170%;
  font-size: 20px;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
}

.sec-5 .slider .owl-carousel   .slide .content  .name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 25px;
}



.sec-5 .slider .owl-carousel   .slide .content  .name .role {
  font-size: 17px;
  margin-top: 20px;
  font-weight: 100;
}

.sec-6 {
  background: #dfb1c393;
}

.sec-6 .class {
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.021);
  transition: all .4s ;
} 

.sec-6 .class .card-img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sec-6 .class .card-img img{
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}
.sec-6 .class:hover .card-img img{
 transform: scale(1.01);
 transition: all .4s ;
}

.sec-6 .class .card-body {
background: #fff;
z-index: 5;
}




.sec-6 .class .card-body {
  padding-top: 20px;
  position: relative;
}


.sec-6 .class .card-body .card-body-upper {
  padding: 10px;
}


.sec-6 .class .card-body .card-body-upper .price{
  background:  rgba(238, 177, 8, 0.966);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: -35px;
  right: 30px;
}
.sec-6 .class:hover .card-body .card-body-upper .price{
  background:  rgba(8, 203, 238, 0.966);
}

.sec-6 .class .card-body .card-body-upper .card-heading {
  font-family: var(--Comforta);
  font-size: 18pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 10px;
}
.sec-6 .class .card-body .card-body-upper .card-heading:hover {
 color: var(--Dark-Orange);
 transition: all .4s;
}
.sec-6 .class .card-body .card-body-upper p{
  line-height: 150%;
  font-size: 16px;
  
}
.sec-6 .class .card-body .hr-divider {
  height: 3px;
  width: 90%;
  background: rgba(138, 136, 136, 0.404);
  border-radius: 20px;
  margin: 3px auto;
}
.sec-6 .class .card-body .card-body-lower {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
}
.sec-6 .class .card-body .card-body-lower .box{
  display: flex;
  flex-direction: column;
}
.sec-6 .class .card-body .card-body-lower .box .required{
  margin-bottom: 5px;
  color: #a798b4;
}
.sec-6 .class .card-body .card-body-lower .box .requirements{
  font-family: var(--Nunito);
  font-family: 800;
  font-size: 16px;
  color: var(--Dark-Blue);
}

.sec-6 .class .card-body .card-body-lower .divider {
  width: 2px;
  height: 45px;
  background: rgba(138, 136, 136, 0.404);
  border-radius: 20px;
}

.sec-6 .class .card-body .button{
width: 100%;
padding: 10px 30px;
background: var(--Dark-Orange);
color: #fff;
height: 10vh;
text-align: center;
z-index: 7;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: -10vh;
left: 0;
}

.sec-6 .class:hover .card-body .button{ 
bottom: 0;
transition: all .4s;
}


.sec-6 .class .cta {
color: #fff;
}

.sec-6 .heading {
  text-align: center;
  margin-bottom: 30px;
}
.sec-6 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-6 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}



/* sec-7------teachers */



.sec-7 .heading {
  text-align: center;
  margin-bottom: 30px;
}
.sec-7 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-7 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-7 .teachers {
display: flex;
justify-content: space-around;
align-items: center;

}

.sec-7 .teachers .teacher {
  width: 250px;
  height: auto;
}

.sec-7 .teachers .teacher .teacher-img {
  width: 250px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

.sec-7 .teachers .teacher .teacher-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.sec-7 .teachers .teacher .teacher-img .shade {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.0);
  position: absolute;
  top: 0;
  left: 0;
}

.sec-7 .teachers .teacher:hover .teacher-img .shade {
  transition: all .5s ease;
  background: rgba(0,0,0,0.4);
}

.sec-7 .teachers .teacher .teacher-img .teacher-contact {
  position: absolute;
  right: -200px;
  bottom: -200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 20px solid rgba(228, 168, 3, 0.973);
}

.sec-7 .teachers .teacher:hover .teacher-img .teacher-contact{ 
  right: -45px;
  bottom: -45px;
  transition: all .4s;
}

.sec-7 .teachers .teacher .teacher-img .teacher-contact .icon{
  color: #fff;
  font-size: 15pt;
  margin: 15px;
}


.sec-7 .teachers .teacher .teacher-info  {
  text-align: center;
}
.sec-7 .teachers .teacher .teacher-info  .name{
  font-family: var(--Comforta);
  font-size: 15pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 5px;
}
.sec-7 .teachers .teacher .teacher-info  .role{
  font-family: var(--Comforta);
  font-size: 10pt;
  font-family: 700;
  
}

/* section-8 */

.sec-8 {
  height: 60vh;
  width: 100%;
  background:  linear-gradient(rgba(107, 3, 226, 0.5), rgba(61, 2, 223, 0.6)), url('../Images/pexels-lukas-296302.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

}


.sec-8 .heading {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.sec-8 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-8 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--White);
  margin-bottom: 30px;
}

.sec-8 .heading .cta {
  background: var(--Dark-Orange);
  padding: 15px 40px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: var(--Comforta);
  color: var(--White);
  font-weight: 700;
  letter-spacing: 1px;
}


/* section---9 */


.sec-9 .heading {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.sec-9 .heading .curve {
  font-family: var(--Sacramento);
  font-size: 25pt;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--Dark-Orange);
}

.sec-9 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 30pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 30px;
}



.sec-9 .posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .sec-9 .posts .post-item {
    width: 350px;
    height: auto;
  }

  .sec-9 .posts .post-item .post-img {
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
  }

  .sec-9 .posts .post-item .post-img img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .sec-9 .posts .post-item .post-img .shade {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.8));
    position: absolute;
    top: 0;
    left: 0;
  }



  .sec-9 .posts .post-item .post-img  .post-title{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    flex-wrap: wrap;
    transition: all .4s;
  }

  .sec-9 .posts .post-item:hover .post-img  .post-title{ 
    
    bottom: 30px;
  }


  .sec-9 .posts .post-item .post-img  .post-title .type {
    background: var(--Dark-Orange);
    display: inline-block;
    padding: 5px 7px;
    font-size: 10pt;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #fff;
  }
  .sec-9 .posts .post-item .post-img  .post-title .title {
    color: #fff;
    margin-bottom: 10px;
  }
  .sec-9 .posts .post-item .post-img  .post-title .title:hover {
    color: var(--Dark-Orange);
    margin-bottom: 10px;
  }
  .sec-9 .posts .post-item .post-img  .post-title .date-posted span {
    color: rgba(255, 255, 255, 0.445);
    font-weight: 100;
    font-size: 10pt;
  }

.newsletter {
  background: linear-gradient(rgb(241, 93, 6), rgb(240, 111, 5));
  height: 35vh;

}

  .newsletter .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .newsletter .wrapper .newsletter_text {
    font-size: 30pt;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--White);
    font-family: var(--Nunito);
  }

  .newsletter .wrapper form {
    width: 60%;
    padding: 0 10px;

  }

  .newsletter .wrapper form .form_control {
    width: 100%;
    position: relative;
  }
  .newsletter .wrapper form .form_control input{
width: 100%;
padding: 20px 130px 20px 20px;
outline: none;
border: none;
border-radius: 10px;
  }

  .newsletter .wrapper form .form_control input::placeholder {
    color: #00000048;
  }

  .newsletter .wrapper form .form_control  .btn.submit {
    position: absolute;
    right: 20px;
    top: 17px;
    color: var(--Dark-Blue);
    font-weight: 800;
    font-family: var(--Nunito);
  }

  .newsletter .wrapper form .form_control  .btn.submit span .icon{
    font-size: 13pt;
    transition: .3s;
  }

  .newsletter .wrapper form .form_control  .btn.submit:hover span .icon{
    margin-left: 10px;
  }

  footer .wrapper {
    display: flex;
    justify-content: space-between;
    height: auto;
  }

  footer .wrapper .contact_box {
    width: 250px;
  }
  footer .wrapper .contact_box h4{
   font-size: 15pt;
   font-weight: 800;
   font-family: var(--Nunito);
  }
  footer .wrapper .contact_box .colored{
    font-size: 15pt;
    font-weight: 600;
    font-family: var(--Nunito);
    color: var(--Dark-Orange);
  }
  footer .wrapper .contact_box .phone{
    color: #eb2c0b;
    font-family: var(--Nunito);
    font-size: 15pt;
    font-weight: 800;
    margin-bottom: 20px;
  }
  footer .wrapper .contact_box .address{
    font-weight: 100;
    font-size: 12pt;
    color: #00000081;
    margin-top: 20px;
  }
  footer .heading{
    font-size: 15pt;
    font-weight: 800;
    font-family: var(--Nunito);
    margin-bottom: 20px;
  }

  footer .wrapper .info_box .links li{
display: block;
margin-bottom: 7px;
  }

  footer .wrapper .info_box .links li .footer_link {
    color: #00000048;
    transition: .3s;
  }

  footer .wrapper .info_box .links li .footer_link:hover {
    color: var(--Dark-Orange);
  }

  footer .wrapper .media_box .gallery_box {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
  }

  footer .wrapper .divider {
    width: 1px;
    height: auto;
    background: rgba(0, 0, 0, 0.171);
  }

footer .wrapper .media_box .gallery_box img {
  width: 70px;
  height:70px;
  border-radius: 8px;
  margin: 5px;
}







  footer .wrapper .social_box .social_links{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  footer .wrapper .social_box .social_links .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
  margin-right: 20px;
  }

  footer .wrapper .social_box .social_links .icon.facebook {
    background: #0346d8;
  }
  footer .wrapper .social_box .social_links .icon.twitter {
    background: #07aaeb;
  }
  footer .wrapper .social_box .social_links .icon.google {
    background: #d86244;
  }
 
  footer .wrapper .social_box .date_active .weakdays_active {
    margin-bottom: 20px;
  }
  footer .wrapper .social_box .date_active h4{
    font-weight: 200;
    margin-bottom: 5px;
    font-family: var(--Nunito);
  }
  footer .wrapper .social_box .date_active h5{
    font-weight: 700;
    margin-bottom: 5px;
    font-family: var(--Nunito);
  }

  @media (max-width: 1200px) {
    .hero .showcase {
      height: 60vh;
    }
    main {
      z-index: 2;
    }
    .sec-2 .wrapper .img img {
      width: 400px;
    }
    .sec-2 .wrapper .text {
      width: 50%;
    }

    .sec-6 .class {
      width: 350px;
    } 

    .sec-7 .teachers .teacher {
      width: 220px;
      height: auto;
    }
    
    .sec-7 .teachers .teacher .teacher-img {
      width: 220px;
      height: 300px;
    }

    .sec-8 {
      height: 40vh;
      width: 100%;
    }

    .sec-8 .heading {
      width: 50%;
      margin: 20px auto;
      text-align: center;
    }

    .sec-9 .posts .post-item {
      width: 300px;
      height: auto;
    }

    .sec-9 .posts .post-item .post-img {
      width: 300px;
      height: 350px;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      margin-bottom: 10px;
    }

    .newsletter {
      background: linear-gradient(rgb(241, 93, 6), rgb(240, 111, 5));
      height: 25vh;
    
    }
  }

  @media (max-width: 986px) {
    .sec-2 .wrapper {
      flex-direction: column;
    }

    .sec-2 .wrapper .particles.octagon {
      left: 20%;
      bottom: 10%;
    }
    .sec-2 .wrapper .particles.circle {
      top: 20%;
      opacity: 0.7;
      left: 15%;
      z-index: 2;
    }

    .sec-2 .wrapper .img img {
      width: 400px;
      z-index: 3;
    }
    .sec-2 .wrapper .img {
      width: 400px;
      z-index: 3;
      margin-bottom: 30px;
    }
    .sec-2 .wrapper .text {
      width: 43%;
      z-index: 3;
    }

    .sec-2 .wrapper .particles.eclipse-bg {
      top: -20%;
      opacity: 0.3;
      right: -15%;
    }

    .sec-3 .cards {
      flex-wrap: wrap;
    }

    .sec-3 .cards .card{
  margin: 20px;
    }

    
.sec-4 .d-flex {
  flex-direction: column;
  margin-bottom: 50px;
}
.sec-4 .rd-flex {
 flex-direction: column;
 margin-bottom: 50px;
}

.sec-4 .d-flex .img , .sec-4 .d-flex .text {
  line-height: 150%;
  width: 80%;
  margin: auto;
}

.sec-4 .img img {
  width: 600px;
  border-radius: 10px;
  margin: 20px auto;
}

.sec-7 .teachers {
display: grid;
grid-template-columns: repeat(2, 1fr);
  }

  .sec-7 .teachers .teacher {
    margin: 20px auto;
  }

  .sec-9 .posts {
    flex-wrap: wrap;
    }

    .sec-9 .posts .post-item {
     margin: 20px auto;
    }

    .newsletter .wrapper {
    flex-direction: column;
    }

    .newsletter .wrapper .newsletter_text {
   margin-bottom: 20px;
    }

    footer .wrapper {
      flex-wrap: wrap;
    }

    footer .wrapper .contact_box {
     margin: 20px auto;
    }
    footer .wrapper .info_box {
     margin: 20px auto;
    }
    footer .wrapper .media_box {
     margin: 20px auto;
    }
    footer .wrapper .social_box {
     margin: 20px auto;
    }

  }

  @media (max-width: 820px) {
    .hero {
      padding: 5% 0;
    }

    .hero .showcase {
      height: auto;
      border-radius: 0;
      text-align: center;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .hero .showcase .img { 
      display: none;
    }
    .hero .showcase .img img{ 
      display: none;
    }

    .hero .showcase .text {
      width: 90%;
      margin: auto;
      z-index: 3;
    }

    
.hero .showcase .particles.octagon {
  top: -5%;
  left: 45%;
}
.hero .showcase .particles.addition {
  top: 15%;
  left: 10%;
  
}
.hero .showcase .particles.addition2 {
  right: 10%;
  bottom: 5%;
}

.hero .showcase .particles.triangle {
  bottom: 40%;
  right: 30%; 
}
.hero .showcase .particles.octagon2 {
  left: 20%;
  bottom: 10%;
}
.hero .showcase .particles.circle {
  top: 45%;
  right: 2%;
  z-index: 2;
}

.sec-2 .wrapper .img img { 
  display: flex;
  justify-content: center;
}

.sec-2 .wrapper .img img {
  width: 80%;
  margin: auto;
  text-align: center;
}
.sec-2 .wrapper .text {
  width: 80%;
  margin: auto;
}

.sec-2 .wrapper .particles.circle {
  top: 15%;
  opacity: 0.7;
  left: 20%;
  z-index: 2;
}

.sec-2 .wrapper .particles.octagon {
  left: 1%;
  bottom: 10%;
}

.sec-4 .img {
  display: flex;
  justify-content: center;
}

.sec-4 .img img {
  width: 300px;
  border-radius: 10px;
  margin: 20px auto;
}

.sec-4  .text {
  line-height: 150%;
  width: 100%;
}

.sec-4 .text {
  padding: 0 0;
}

.sec-5 .container .slider {
  width: 100%;
  margin: auto;
  height: 60vh;
  text-align: center;
  position: relative;
}

.sec-5 .container .slider .q-bg {
  width: 150px;
  position: absolute;
  margin-left: -20vw;
}

.newsletter .wrapper {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.sec-7 .teachers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
    }

    .hero {
      margin-top: 8vh;
    }

.newsletter .wrapper form {
  width: 90%;
  padding: 0 10px;
margin-bottom: 20px;
}

.newsletter {
  background: linear-gradient(rgb(241, 93, 6), rgb(240, 111, 5));
  height: 35vh;

}

footer {
  text-align: center;
}

  }

  @media (max-width: 500px) {
    .hero .showcase .text {
      width: 80%;
    }

    .hero .showcase .text .curve {
      font-size: 17pt;
    }

    .hero .showcase .text .nunito {
      font-family: var(--Comforta);
      font-size: 20pt;
      color: var(--White);
      margin-bottom: 20px;
    }

    
.hero .showcase .particles {
  position: absolute;
}
.hero .showcase .particles img{
 width: 100%;
}

.hero .showcase .particles.octagon {
  top: -10%;
  left: 45%;
  width: 30px;
}
.hero .showcase .particles.addition {
  top: 15%;
  left: 2%;
  width: 20px;
  
}
.hero .showcase .particles.addition2 {
  right: 10px;
  bottom: 10%;
  width: 20px;
}

.container {
  padding: 3% 3%;
}

.sec-2 .wrapper .particles.eclipse-bg {
  top: -20%;
  opacity: 0.3;
  right: -45%;
  z-index: 2;
  width: 330px;
  
}

.sec-2 .wrapper .particles img {
  width: 100%;
}

.sec-2 .wrapper .particles.circle {
  top: 15%;
  width: 50px;
  opacity: 0.7;
  left: 20%;
  z-index: 2;
}

.sec-3 {
  padding: 2% 2%;
}

.sec-3 .heading {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.sec-3 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 20pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-4 {
  padding: 2% 2%;

}

.sec-4 .heading {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.sec-4 .text .head {
  font-family: var(--Comforta);
  font-size: 18pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-5 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 20pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-5 .slider .owl-carousel   .slide .content .testimony {
  line-height: 170%;
  font-size: 16px;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.sec-5 .container .slider {

  height: 40vh;

}


.sec-6 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 20pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}
.sec-7 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 20pt;
  font-family: 700;
  color: var(--Dark-Blue);
  margin-bottom: 20px;
}

.sec-8 .heading {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.sec-9 .heading {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.sec-8 .heading .nunito {
  font-family: var(--Comforta);
  font-size: 20pt;
  font-family: 700;
  color: var(--White);
  margin-bottom: 30px;
}

.sec-2 .container {
  padding: 2% 2%;
}

.sec-2 .wrapper .img img {
  width: 200px;
}
.sec-2 .wrapper .text {
  width: 95%;
}

.sec-2 .wrapper .text .heading {
  width:300px;
}

.hero .showcase .particles.triangle {
width: 30px;
  bottom: 40%;
  right: 30%; 
}
.hero .showcase .particles.octagon2 {
  left: 20%;
  width: 20px;
  bottom: 10%;
}
.hero .showcase .particles.circle {
  top: 40%;
  right: -2%;
  width: 30px;
  z-index: 2;
}

    
.hero .showcase .text .cta {
  background: var(--Dark-Orange);
  padding: 7px 20px;
  margin-top: 10px;
  font-size: 10pt;
  border-radius: 10px;
  font-family: var(--Comforta);
  color: var(--White);
  font-weight: 700;
  letter-spacing: 1px;
}
  }